<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="poisondog.android.alert"
	>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<application>
		<service android:name=".FloatingViewService" />
	</application>
</manifest>
